### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db

### IDEs ###

# VS Code
.vscode/

# IntelliJ
.idea
*.iml
*.iws
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### Archives ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### JVM Crash Logs ###
hs_err_pid*
replay_pid*